{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    {% if user.age %}
    You are {{ user.age }} years old.
    {% endif %}
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    See your tasks <p><a href="{% url 'tasks' %}">Tasks</a></p>

{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}